*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  color: white;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(57, 62, 109);
}
.slider-container{
  margin: 20px auto;
  width: 600px;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.slider-container img{
max-width: 100%;
}
.slider-container img{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  z-index: 1;
}
.slider-container img.active{
  opacity: 1;  
}
.slider-container .slider-number{
  padding: 6px 10px;
  background-color: rgb(151, 151, 151);
  width: fit-content;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  line-height: 1;
  margin-bottom:20px ;
  z-index: 2;
}
.slider-controls{
  margin: 20px auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items:  center;
}
.slider-controls .next,
.slider-controls .prev{
  color: #d0fff7;
  width: 19%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 5px;
  user-select: none;
  background: #935c5c;  
}
.slider-controls .next.disable,
.slider-controls .prev.disable{
  cursor: no-drop;
  background-color: #525252;

}
.indicators ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.indicators ul li {
  font-size: 15px;
  display: inline-block;
  background-color: #c7c7c7;
  color: #292929;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0px 3px;
  line-height: 28px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.indicators ul li.active {
  background-color: rgb(0, 153, 153);
  color: #fff;

}